@model IEnumerable<OnlineStore.Models.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Categories</h3>
    <table>
        <tr class="header">
            <td><p>Category Name</p></td>           
            <td></td>
        </tr>
        @foreach (OnlineStore.Models.Category c in Model)
        {
            <tr>
                <td><p>@c.Name</p></td>               
            </tr>
        }
    </table>
</div>